* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: tahoma;
}

.body {
  background-color: #e3e6f0;
}

header {
  background-color: rgba(59, 88, 152, 0.95);
  width: auto;
  height: 85px;
  color: #fff;
}

.email {
  margin-right: 75px;
}

header label {
  font-size: 12px;
  transform: translate(6%);
  display: inline-block;
}

.header_Input {
  margin-top: 5px;
}

.header_Input:focus {
  outline: #fff;
}

.header_Input a:link,
.header_Input a:visited {
  border: 1px solid #29487d;
  background-color: #4267b2;
  color: #fff;
  border: none;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  padding: 5px;
}

.header_Input a:hover {
  border: 1px solid #29487d;
  background-color: rgba(59, 88, 152, 0.95);
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  padding: 5px;
}

header input {
  width: 142px;
  display: inline-block;
  margin: 0px 5px;
}

.header_SignIn {
  transform: translateX(15%);
}

.faceook_label h1 {
  margin-top: 20px;
  font-size: 38px;
  font-weight: 600;
  float: right;
  transform: translateX(-180%);
}

.fb_description {
  color: #0e385f;
  font-size: 20px;
  font-weight: bold;
  line-height: 29px;
  margin-top: 40px;
  word-spacing: -1px;
  clear: both;
  transform: translate(27%);
}

.fb_description p {
  width: 500px;
}

.create_Account_Label h1,
.create_Account_Label p {
  margin-top: -8px;
  margin-left: 85px;
}

input[name="firstname"],
input[name="surname"],
select,
textarea {
  font-size: 18px;
  padding: 8px 10px;
  border-radius: 5px;
  width: 172px;
  border-color: #bdc7d8;
  margin-top: 25px;
}

input[name="firstname"],
select,
textarea {
  margin-left: 85px;
}

input[name="mobileno_email"],
input[name="newpassword"],
select,
textarea {
  font-size: 18px;
  padding: 8px 10px;
  border-radius: 5px;
  width: 350px;
  border-color: #bdc7d8;
  margin-left: 85px;
  margin-top: 10px;
}

select {
  width: 60px;
  font-size: 13px;
  height: 30px;
  padding: 5px;
  border: 1px solid #bdc7d8;
  border-radius: 0px;
  color: black;
  background-color: white;
  cursor: default;
}

select[name="birthday_day"] {
  margin-left: 85px;
  margin-top: 10px;
}

.birthday{
margin-left: 85px;
}

.birthday select {
  margin-left: -5px;
}

.birthday_Label h2 {
  margin-top: 20px;
  margin-left: 85px;
  font-size: 18px;
  font-weight: lighter;
}

.birthday p {
  font-size: 11px;
  max-width: 150px;
  margin-left: 185px;
  margin-top: -25px;
  color: #365899;
}

.sex {
  margin-top: 15px;
  margin-left: 85px;
}

.sex label {
  font-size: 18px;
  line-height: 18px;
  margin-left: 3px;
  margin-right: 15px;
}

.policy {
  margin-top: 30px;
}

.policy p {
  color: #777;
  font-size: 11px;
  width: 316px;
}

.signup_btn input {
  min-width: 194px;
  font-size: 19px;
  padding: 10px 20px;
  background: linear-gradient(#67ae55, #578843);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  letter-spacing: 1px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  margin-left: 80px;
  margin-top: 20px;
}

.signup_btn input:focus {
  outline: none;
}

.create_Page {
  border-top: 1px solid #dddfe2;
  color: #666;
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px;
  padding-top: 15px;
  margin-left: 82px;
}

footer {
  display: inline;
  background-color: #fff;
  margin: 0 auto;
  cursor: pointer;
  line-height: 25px;
}

footer ul {
  margin-left: 200px;
  width: 940px;
}

footer .lang {
  margin-top: 50px;
}

footer li {
  display: inline;
  padding: 25px 10px;
}

footer a {
  text-decoration: none;
  line-height: 1.6;
  color: #365899;
  font-size: 12px;
}

footer a:hover {
  text-decoration: underline;
}

.lang_List:first-child {
  color: #737373;
  font-size: 12px;
}

.contentCurve {
  border-bottom: 1px solid #dddfe2;
  font-size: 1px;
  height: 8px;
  margin-bottom: 8px;
}

.copyright {
  margin-top: 20px;
  font-size: 12px;
  color: #737373;
  margin-left: 210px;
}